@using Taxify.Service.DTOs.Users;
@{
    ViewData["Title"] = "Home Page";
    Layout = "Libaries";
}

@model UserLoginDto

<section class="vh-100 bg-image"
         style="background-image: url('https://wp-s.ru/wallpapers/15/13/460942472324312/zheltyj-fon-s-liniyami-dlya-rabochego-stola.jpg');image-rendering:inherit">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6" style="padding:0% 8% 0% 8%">
                    <div class="card" style="border-radius: 15px;background-color: whitesmoke;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Login</h2>

                            <form asp-action="Main" asp-controller="HomeController" method="post">
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"/>
                                    <label class="form-label" for="form3Example1cg">User Name</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" asp-for="Email" />
                                    <label class="form-label" for="form3Example3cg" asp-for="Email">Your Email</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" asp-for="Password" />
                                    <label class="form-label" for="form3Example4cg" asp-for="Password">Password</label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-warning btn-block btn-lg gradient-custom-4 text-body">
                                        Login
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>