@{
    Layout = "Menubar";
}

@* 
//<link rel="stylesheet" href="~/css/main.css" />
 *@
 <main style="margin: 0">
    <img src="https://i.pinimg.com/originals/8f/f3/40/8ff340bdd215874ec69268c72bddb3ee.jpg" width="100%" height="100%" style="background-color:black" />
 </main>